 .aside-app {
   margin: 20px;
   justify-content: center;
   align-items: center;
   align-content: center;
 }

 .article-app {
   margin: 20px;

 }

 .articule-div-historical2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100px;
   background-color: #333;
 }

 .aside-app {
   padding: 20px;
   border: 1px solid #444;
   background: #333;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 .form-currency {
   margin-bottom: 20px;
 }

 .form-currency-fs {
   border: none;
 }

 label {
   display: block;
   margin-bottom: 10px;
 }

 select {
   width: 100%;
   padding: 10px;

   border: 1px solid #555;

   border-radius: 4px;

   background-color: #444;

   color: #fff;

 }

 .div-currency {
   margin: 10px 0;
   padding: 10px;
   background-color: #444;
   border-radius: 4px;
   display: flex;
  justify-content: space-between; /* Alinea el contenido a los extremos */
  align-items: center;
 }

 input[type="date"] {
   width: 80%;
   padding: 10px;
   border: 1px solid #555;
   border-radius: 5px;
   background-color: #444;
   color: #fff;
   margin: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .p-currency-historical {
   justify-content: center;
   margin: 10px;
   /* Espaciado superior entre el h3 y los párrafos */
   color: #fff;
   /* Color del texto para el párrafo */

 }

 ul {
   padding: 0;
   margin: 3px;
   list-style-type: style circle;
   display: flex;
   flex-flow: column wrap;
   justify-content: space-evenly;
 }

 h3 {
   color: #ffcc00;
   margin: 10px;
 }

 .error {
   color: #ff6666;
 }

 li {
   padding: 0;
 }